---
import BaseHead from '@/components/BaseHead.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const cocktails = (await getCollection('cocktails')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
		</style>
	</head>
	<body>
		<main class='p-2'>
			<section>
				<ul>
					{
						cocktails.map((cocktail) => (
							<li class='flex'>
								<a
									href={`/cocktails/${cocktail.id}/`}
									class='hero-image flex flex-col content-center items-center'
									transition:name={`blogpost-${cocktail.data.title.replace(/\W/g, '')}`}
								>
									{cocktail.data.heroImage && (
										<Image
											width={360}
											height={720}
											src={cocktail.data.heroImage}
											alt=''
										/>
									)}
									<h4 class='title'>{cocktail.data.title}</h4>
									<p class='date'>
										<FormattedDate date={cocktail.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
